<div class="container">
  <div class="entry">
    <div class="page-header">
      <h1>{{page.title}}</h1>
    </div>
    {{{page.body}}}
    <div class="row">
      <div class="span5">
        {{#message}}
        <div class="alert alert-{{type}}">
          <button class="close" data-dismiss="alert">×</button>
          <strong>{{friendlytype}}!</strong> {{content}}
        </div>
        {{/message}}
        <form class="form-vertical contact-form" method="post" action="/contact">
          <fieldset>
            {{#errors}}
              {{#this.name}}<div class="control-group error">{{/this.name}}
              {{^this.name}}<div class="control-group">{{/this.name}}
            {{/errors}}
            {{^errors}}<div class="control-group">{{/errors}}
              <label class="control-label" for="name">Name {{errors.name}}</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="name" name="name" value="{{data.name}}">
              </div>
            </div>
            {{#errors}}
              {{#this.email}}<div class="control-group error">{{/this.email}}
              {{^this.email}}<div class="control-group">{{/this.email}}
            {{/errors}}
            {{^errors}}<div class="control-group">{{/errors}}
              <label class="control-label" for="email">Email {{errors.email}}</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="email" name="email" value="{{data.email}}">
              </div>
            </div>
            {{#errors}}
              {{#this.message}}<div class="control-group error">{{/this.message}}
              {{^this.message}}<div class="control-group">{{/this.message}}
            {{/errors}}
            {{^errors}}<div class="control-group">{{/errors}}
              <label class="control-label" for="message">Message {{errors.message}}</label>
              <div class="controls">
                <textarea class="input-xlarge" id="message" rows="7" name="message">{{data.message}}</textarea>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-large">Send message</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>